vti_encoding:SR|utf8-nl
vti_author:SR|SUPPORT20\\Administrator
vti_modifiedby:SR|SUPPORT20\\Administrator
vti_timelastmodified:TR|08 Aug 2007 09:10:52 -0000
vti_timecreated:TR|08 Aug 2007 09:10:52 -0000
vti_cacheddtm:TX|08 Aug 2007 09:10:52 -0000
vti_filesize:IR|1055
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{63824076-59B9-4F79-B811-6F9B3FEB379C}
vti_backlinkinfo:VX|
