vti_encoding:SR|utf8-nl
vti_author:SR|SUPPORT20\\Administrator
vti_modifiedby:SR|SUPPORT08\\Administrator
vti_timelastmodified:TR|17 Mar 2008 11:01:18 -0000
vti_timecreated:TR|08 Aug 2007 09:12:42 -0000
vti_extenderversion:SR|6.0.2.5516
vti_lineageid:SR|{32066EF7-B688-4DE5-A132-A6D675F75C71}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|17 Mar 2008 11:01:01 -0000
vti_cacheddtm:TX|17 Mar 2008 11:01:02 -0000
vti_filesize:IR|695
