a:link{
color:#993300;
}
a:visited{
color:#666633;
}
a:active{
color:#CC6633;
}
body{
color:#333333;
background-color:#FFFFCC;
}
h1{
color:#333333;
}
h2,marquee{
color:#333333;
}
h3{
color:#333333;
}
h4{
color:#333333;
}
h5{
color:#333333;
}
h6{
color:#333333;
}
LABEL,.MSTHEME-LABEL{
color:#333333;
}
FIELDSET{
border-color:#999999;
color:#333333;
}
LEGEND{
color:#333333;
}
SELECT{
border-color:#BFBFBF;
color:#000000;
}
TABLE{
table-border-color-light:#999966;
table-border-color-dark:#666633;
border-color:#666633;
color:#333333;
}
CAPTION{
color:#333333;
}
TH{
color:#333333;
}
HR{
color:#333300;
}
TD{
border-color:#333300;
}
