vti_encoding:SR|utf8-nl
vti_author:SR|SUPPORT20\\Administrator
vti_modifiedby:SR|SUPPORT08\\Administrator
vti_timelastmodified:TR|17 Mar 2008 11:00:41 -0000
vti_timecreated:TR|08 Aug 2007 12:12:53 -0000
vti_extenderversion:SR|6.0.2.5516
vti_lineageid:SR|{AA2F059A-5865-4C09-9C6D-7C98EBF080BE}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|08 Aug 2007 12:12:53 -0000
vti_cacheddtm:TX|17 Mar 2008 11:00:42 -0000
vti_filesize:IR|695
