vti_encoding:SR|utf8-nl
vti_author:SR|SUPPORT20\\Administrator
vti_modifiedby:SR|SUPPORT08\\Administrator
vti_timelastmodified:TR|17 Mar 2008 11:00:41 -0000
vti_timecreated:TR|08 Aug 2007 12:12:53 -0000
vti_extenderversion:SR|6.0.2.5516
vti_lineageid:SR|{91D5CAF9-BFF5-406F-A74F-3EC4F9DAD795}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|08 Aug 2007 12:12:53 -0000
vti_cacheddtm:TX|17 Mar 2008 11:00:42 -0000
vti_filesize:IR|1518
vti_cachedlinkinfo:VX|S|astonbnr.gif S|astonrul.gif S|astonbu1.gif S|astonbu2.gif S|astonbu3.gif S|astonhbs.gif S|astonhb.gif S|astonhbh.gif S|astonvbs.gif S|astonvb.gif S|astonvbh.gif S|astonhom.gif S|astonhomh.gif S|astonup.gif S|astonuph.gif S|astonpre.gif S|astonpreh.gif S|astonnxt.gif S|astonnxth.gif S|astonbu1.gif S|astonbu2.gif S|astonbu3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/sandston/astonbnr.gif FSUS|_themes/sandston/astonrul.gif FSUS|_themes/sandston/astonbu1.gif FSUS|_themes/sandston/astonbu2.gif FSUS|_themes/sandston/astonbu3.gif FSUS|_themes/sandston/astonhbs.gif FSUS|_themes/sandston/astonhb.gif FSUS|_themes/sandston/astonhbh.gif FSUS|_themes/sandston/astonvbs.gif FSUS|_themes/sandston/astonvb.gif FSUS|_themes/sandston/astonvbh.gif FSUS|_themes/sandston/astonhom.gif FSUS|_themes/sandston/astonhomh.gif FSUS|_themes/sandston/astonup.gif FSUS|_themes/sandston/astonuph.gif FSUS|_themes/sandston/astonpre.gif FSUS|_themes/sandston/astonpreh.gif FSUS|_themes/sandston/astonnxt.gif FSUS|_themes/sandston/astonnxth.gif FSUS|_themes/sandston/astonbu1.gif FSUS|_themes/sandston/astonbu2.gif FSUS|_themes/sandston/astonbu3.gif
